<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <div class="d-flex justify-content-center">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Proyecto_en_construccion.jpg/800px-Proyecto_en_construccion.jpg" alt="En contruccion">
  </div>
  
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>