<nav class="navbar navbar-expand-lg navbar-light bg-danger">
  <a class="navbar-brand tienda-logo" href="/">Desafío</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/realtimeproducts">Productos</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Categories
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Cat. 1</a>
          <a class="dropdown-item" href="#">Cat. 2</a>
          <div class="dropdown-divider"></div>
        </div>
      </li>
    </ul>
    <div>
      <li class="nav-item">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addProductModal">
          + Nuevo Producto
        </button>
      </li>
    </div>
  </div>
</nav>